@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.input-group {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  gap: 1rem;
}

.input-group input {
  width: 60px;
  height: 2em;
  border-radius: 0.8rem;
  background-color: rgb(216, 216, 216);
  padding: 0.2rem;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  transition: 0.2s ease;
}
.login-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 0.2em;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 500px;
  width: 90%;
}
.login-img {
  width: 300px;
  height: 310px;
  margin-bottom: 20px;
}
.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login-loader {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}

.input-group input:focus {
  background-color: white;
  border: 2px solid #6350b8;
}

.login-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #6350b8;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.6s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
  .login-container {
    top: 40%;
  }
  .input-group {
    gap: 0.5em;
  }
  .input-group input {
    width: 50px;
  }
  .login-title {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    line-height: 22px;
  }
  .login-img {
    width: 200px;
    height: 210px;
  }
  .login-loader {
    top: 100%;
    left: 47%;

    margin-top: 30px;
  }
}
