.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.input-group {
  max-width: 580px;
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  gap: 1rem;
}

.input-group input {
  width: 50px;
  height: 60px;
  border-radius: 1rem;
  background-color: white;
  padding: 0.2rem;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  transition: 0.2s ease;
}

.input-group input:focus {
  border: 3px solid #00bfff;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.4);
}
