.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  gap: 1rem;
}

.input-group input {
  width: 60px;
  height: 2em;
  border-radius: 0.8rem;
  background-color: rgb(216, 216, 216);
  padding: 0.2rem;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  transition: 0.2s ease;
}
.login-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 0.2em;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 500px;
  width: 90%;
}
.login-loader {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}

.input-group input:focus {
  background-color: white;
  border: 2px solid #6350b8;
}
@media (max-width: 750px) {
  .input-group {
    gap: 0.5em;
  }
  .input-group input {
    width: 50px;
  }
  .login-title {
    font-size: 1.2rem;
  }
}
