:root {
  --gap-nav: 0.4rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 1.7rem;
  max-width: 1240px;
  margin: 0 auto;
}
.mobile-menu {
  display: none;
}
.store-action-buttons {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 22px;
}
.store-action-buttons a {
  display: flex;
  align-items: center;
  gap: var(--gap-nav);
}
.mobile-menu a.active {
  color: rgb(111, 25, 224);
}
.input-line {
  display: flex;
  align-items: center;
  width: 400px;
  border: 1px solid white;
}
.input-line input {
  height: 40px;
  padding: 0 0.9rem;
  width: 100%;
  outline: none;
}
.button__search {
  font-size: 2rem;
  height: 40px;
  width: 80px;
  background-color: rgb(28, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .store-action-buttons {
    font-size: 23px;
  }
  .store-actions-item {
    display: none;
  }
}
@media (max-width: 850px) {
  .navbar {
    display: none;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #393939;
    background-color: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(25px);
    padding: 0px 10px;
    height: 70px;
    z-index: 100;
    line-height: 25px;
  }
  .mobile-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(224, 221, 221);
  }
  .mobile-menu a svg {
    height: 33px;
    width: 33px;
  }
  .mobile-menu_title {
    font-size: 13.5px;
    font-weight: 600;
  }
}
