@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

.search-row {
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-top: 10px;
  display: none;
  overflow: hidden;
  border-radius: 8px;
}
.search-input-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input-component input {
  width: 100%;
  padding: 0 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 16px;
}
.banner-block {
  position: relative;
}
.banner-navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  cursor: pointer;
}
.banner-navigation .prev {
  left: 15px;
}
.banner-navigation .next {
  right: 15px;
}
.banner-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-width: 1240px;
  border-radius: 1.5rem;
  overflow: hidden;
  user-select: none;
}
.banner-img img {
  width: 100%;
  height: 100%;
}
.slider-button {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #7473738e;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.banner-active {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  gap: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.433);
}
.swiper-pagination-bullet-active {
  height: 12px;
  width: 12px;
  background-color: rgb(227, 229, 232);
}

.promo-wrapper {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9rem;
}

.promo-item-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background-color: #efefef;
  color: black;
  padding: 10px 12px 10px 8px;
  border-radius: 16px;
}
.promo-item-wrapper img {
  width: 40px;
}
/* ******* */
.title-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  padding: 30px 10px;
  font-size: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 0.8rem;
  transition: 0.3s ease;
}

.image-wrapper {
  width: 100%;
  height: 290px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.image-wrapper img:hover {
  transform: scale(1.01);
}
.product-card {
  padding: 2px;
}
.product-card__actions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 12px;
  font-size: 25px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.product-card__actions button {
  outline: none;
  cursor: pointer;
  background: none;
}
.product-card__details {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.product-card__price {
  margin-top: 10px;
}
.product-card__price .card-price {
  color: #7640ff;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}
.product-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
}
.product-card__cart {
  margin-top: 10px;
  transition: 0.3s ease;
}
.product-card__cart button {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  background-color: #5619ee;
  cursor: pointer;
  outline: none;
}
.product-card__cart button:hover {
  background-color: #7345e7;
}
.card-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 16px;
}
.quantity-controls {
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
  margin-top: 2px;
}
.quantity-controls button {
  outline: none;
  display: flex;
  align-items: center;
  height: 33px;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.loader-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 12px;
}
.loading-state {
  height: auto;
}
.loading-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.praduct_loader-item,
.loader_text-item,
.loader_button-item {
  animation: pulse 1.5s infinite ease-in-out;
  max-width: 100%;
}

.praduct_loader-item {
  background-color: rgb(37, 37, 37);
  width: 230px;
  height: 250px;
  border-radius: 8px;
}

.loader_text-item {
  width: 230px;
  height: 12px;
  border-radius: 13px;
  background-color: rgb(62, 62, 62);
}

.loader_button-item {
  margin-top: 5px;
  width: 230px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(62, 62, 62);
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
.error-praduct_message {
  grid-column: 1 / -1;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-praduct_message h3 {
  font-size: 27px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Inter";
}
.error-praduct_message p {
  font-size: 15px;
  margin-top: 5px;
}
.error-praduct_message button {
  background-color: #2d2dc0;
  padding: 10px 35px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 17px;
}

@media (max-width: 1000px) {
  .banner-img {
    margin-top: 20px;
    height: auto;
  }
  .slider-button {
    height: 40px;
    width: 40px;
  }
  .promo-wrapper {
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-img {
    height: 300px;
    height: auto;
    object-fit: cover;
  }
  .products {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
  .image-wrapper {
    height: 270px;
  }
}
@media (max-width: 750px) {
  .search-row {
    display: block;
  }
  .banner-block {
    margin-top: 20px;
  }
  .banner-img {
    height: 180px;
    object-fit: cover;
  }
  .promo-item-wrapper {
    text-align: center;
    font-size: 13px;
  }
  .slider-button {
    height: 30px;
    width: 30px;
  }
  .banner-navigation .prev {
    left: 10px;
  }
  .banner-navigation .next {
    right: 10px;
  }
  .products {
    gap: 0.4em;
  }
  .title-text {
    font-size: 25px;
    line-height: 10px;
    padding: 20px 0;
  }
}
