@import "tailwindcss";

:root {
  --background: #111;
  --foreground: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.main {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}
