@import "tailwindcss";
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --background: #111;
  --foreground: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: white;
}
