.savat-holder {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 380px;
}
.savat-holder h2 {
  font-size: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.savat-holder a {
  background-color: rgb(117, 12, 255);
  padding: 10px 30px;
  border-radius: 15px;
  display: inline-block;
  font-size: 17px;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .savat-holder h2 {
    font-size: 25px;
  }
}
