.p-dark-theme {
  min-height: 100vh;
  color: #e1e3e5;
  font-family: "poppins", sans-serif;

  padding: 20px 10px;
}

.p-container {
  max-width: 1140px;
  margin: 0 auto;
}

.p-main-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 30px;
}

.p-image-wrapper {
  background: #18191a;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #28292a;
}

.p-main-img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 8px;
}

.p-product-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.3;
}

.p-sticky-card {
  background: #18191a;
  border: 1px solid #28292a;
  border-radius: 20px;
  padding: 24px;
  position: sticky;
  top: 20px;
}

.p-price-current {
  font-size: 30px;
  font-weight: 700;
  color: #7000ff;
}

.p-price-old {
  font-size: 16px;
  font-weight: 600;
  color: #5e00d6;
  text-decoration: line-through;
  margin-left: 12px;
}

.p-delivery-tag {
  color: #00ca54;
  font-size: 14px;
  margin: 12px 0 24px;
  background: rgba(0, 202, 84, 0.1);
  display: inline-block;
  padding: 4px 10px;
  border-radius: 6px;
}

/* BUTTONS */
.p-buy-btn {
  width: 100%;
  background: #7000ff;
  color: #fff;
  border: none;
  height: 3rem;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: 0.2s;
}
.praduct-card__actions {
  display: flex;
  gap: 10px;
}
.cart-added_btn {
  background: #5e00d6;
  border-radius: 12px;
  width: 50%;
}

.p-buy-btn:hover {
  background: #5e00d6;
}

.p-qty-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242526;
  border: 1.5px solid #7000ff;
  border-radius: 12px;
  padding: 6px;
}

.p-qty-btn {
  background: #7000ff;
  color: white;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-qty-val {
  font-size: 20px;
  font-weight: 700;
}

.p-info-text {
  margin-top: 30px;
}

.p-info-text h3 {
  color: #8b8e99;
  margin-bottom: 10px;
}
.p-info-text p {
  line-height: 1.6;
  color: #b0b3b8;
}

.p-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: white;
}
.p-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-weight: 600;
  margin-top: 100px;
}

/* RESPONSIVE (MOBILE) */
@media (max-width: 850px) {
  .p-main-grid {
    grid-template-columns: 1fr;
    margin-bottom: 80px;
  }

  .p-product-title {
    font-size: 20px;
  }
  .p-price-current {
    font-size: 24px;
  }
  .p-price-old {
    font-size: 14px;
  }

  .p-image-wrapper {
    border-radius: 0;
    margin: -20px -10px 0;
    border-left: none;
    border-right: none;
  }

  .p-main-img {
    max-height: 350px;
  }

  .p-sticky-card {
    background: transparent;
    border: none;
    padding: 20px 0;
    position: static;
  }
}
