@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

.recomindation {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  gap: 1.2em;
  scrollbar-width: none;
  padding: 10px 20px;
  background-color: rgb(157, 121, 241);
  border-radius: 15px;
  margin-bottom: 20px;
}

.recomindation::-webkit-scrollbar {
  display: none;
}
.recom-title {
  position: absolute;
}
.recom-title h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Inter", "sans-serif";
}

.recom-product {
  margin-top: 40px;
  min-width: 180px;
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.recom-wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.recom-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Mobil moslashuv */
@media (max-width: 1000px) {
  .recomindation {
    margin-bottom: 80px;
    gap: 0.4em;
  }

  .recom-product {
    min-width: 170px;
    padding: 8px;
  }
}
